nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 180px;
}

li a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}

li :hover {
  background-color: #f4ce14;
}
